<!DOCTYPE html>
<html>
<head>
  <title>English Words</title>
  <%= favicon_link_tag 'favicon.gif' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">English Words</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <% unless current_user.present? %>
            <li>
              <%= link_to new_user_registration_url do%>
                <span class="glyphicon glyphicon-user"></span>
                JOIN US
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_url do %>
                <span class="glyphicon glyphicon-log-in"></span>
                ENTER
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to profile_url do %>
                <span class="glyphicon glyphicon-tasks"></span>
                MY ACCOUNT
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_url, method: :delete do %>
                <span class="glyphicon glyphicon-log-out"></span>
                ESCAPE
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
